.product-container {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: #6e6c67;
  transition: width 2s height 2s;
  z-index: 100;
}

.product-popup {
  position: absolute;
  z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000;
}

.product-squares {
  position: static;
  z-index: 1;
}

.product-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-top-dark {
  width: 80%;
  font-family: "Tenor Sans", serif;
  font-size: 19px;
  font-weight: 900;
  color: #ffffff;
  z-index: 0;
}

.product-centered-dark {
  width: 100%;
  font-family: "Lexend Deca", sans-serif;
  font-size: 18px;
  color: #ffffff;
  z-index: 0;
}

.product-below-dark {
  width: 100%;
  font-family: "Lexend Deca", sans-serif;
  font-size: 16px;
  color: #ffffff;
  z-index: 0;
  margin-top: 20px;
}

.product-img {
  position: absolute;
  object-fit: cover;
  max-height: 100%;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.25s ease-in-out;
  z-index: 1;
}

.product-img:hover {
  opacity: 20%;
}
